<h1>Toz Comment</h1>   
  <input type="text" ng-model="query" placeholder="Insert text">
  <select ng-model="order">
    <option value="firstname">
      Organiser par name
    </option>
    <option value="city">
      Organiser par city
    </option>
  </select>
  <h1>{{title}}</h1>
  <div ng-repeat="comment in comments | filter:{name: query} | orderBy : order">
      <hr>
    <div class="panel panel-primary">  
      <div class="panel-heading">
        {{comment.id}}
      </div>
      <div class="panel-body">
        {{comment.name}}
      </div>
    </div>
  </div>

