@font-face {
	font-family: 'Gidole-Regular';
	src: url('../fonts/Gidole-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

.accueil_body{
	/* background-color: #f1f3f2; */
	background-color: #f1f3f2;
	font-family: 'Gidole-Regular';
}

#brandLogo {
	background: url(../images/cheapmeal_logo.png) 0 0;
	padding-right:100px;
}
.btn {
	position : relative;
	height: 40px;
}
.navbar {
	margin-bottom : 0;
}
.navbar-right:hover span{
	color: white;	
}
.navbar-right:hover a{
	color: white;
	text-decoration: none;
}
.navbar-brand {
  float: none;
  }

.navbar-toggle {
	z-index:9999;
}
@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}


.searchbar-container{
	position: relative;
	height: 325px;	
	width: 100%;
	background-color: #acacac;
	background: url(../images/searchbar_bg.jpg)  no-repeat center center fixed;
    background-size: cover;
}

.titre-recherche{
	text-align: center;
	margin: 0 0 10px 0;
	min-width: 420px;
	color: #FFFFFF;
}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
	
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.glyphicon-search{
	color: #1d7abc;
}

.rad10{
	border-radius: 10px;	
}


.contenu-page{
	display: block;
}

.recette-container{
	margin : 10px 0px 0px 5px;
		border: 1px #BCDCF3 solid;
	border-radius: 10px;
		background-color: white;
}

.recette-header{
	height:30px;
}

.recette-img{
	height: 375px;
	width: 100%;
	background-color: silver;
}

.recette-footer{
	margin-top: 0px;
}

.titre-recette{
	text-align: center;	
	font-weight: bold;
}

.auteur-recette{
	text-align: right;
	margin-top: 20px;	
	margin-right: 10px;
}


.menu-button{
	font-size: 18px;
	margin-top:3px;
}

.menu-button:hover span{
	color: #1d7abc;
}

.deconnexion-button{
	color: white;
	font-family: 'Gidole-Regular';
	font-size: 15px;
}

.categorie{
	text-align:center;
	border-radius: 5px;
	margin-top: 50px;
	position: relative;
	height: 40px;
}

.recettes-recentes{
	background-color: #5ab2ea;
}

.recettes-top{
	background-color: #ff7200;
}

.texte-categorie{
	color: white;
	font-size: 30px;
}