@font-face {
	font-family: 'Gidole-Regular';
	src: url('../fonts/Gidole-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

.body_autocomplete {
	font-family: 'Gidole-Regular';
}

.entry-ingredient:not (:first-of-type ) {
	margin-top: 10px;
}

.entry-etapes:not (:first-of-type ) {
	margin-top: 10px;
}

.mg-top-18 {
	margin-top: 18px;
}

.pd-5 {
	padding: 5%;
}

.control-group{
	margin-top: 50px;
	margin-bottom: 50px;
}

textarea{
resize : none;
margin-top: 5px;
margin-bottom: 5px;
}

/* Il n'y a que cette partie qui est a mettre en fait */
.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}

.autocomplete-group {
	padding: 2px 5px;
}

.autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}

#submit-button{
	margin-top: 20px;
}