/* .skyblue h1 p seulement pour la page de test autocomplete.html */
.skyblue {
  background-color: skyblue;
  height: 300px;
}

h1 {
  color: white;
}

p {
  padding-left: 20px;
  color: white;
}

.entry-ingredient:not(:first-of-type)
{
    margin-top: 10px;
}

.entry-etapes:not(:first-of-type)
{
    margin-top: 10px;
}

/* Il n'y a que cette partie qui est a mettre en fait */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
