.inscription_body {
	background: url(../images/inscription_bg.jpg) no-repeat center center fixed; 
	--webkit-background-size: 100% auto;
}

.brand {
	position: absolute;
	left: 50%;
	margin-left: -50px !important; /* 50% of your logo width */
	display: block;
}

.navbar {
	position: static;
	top: 0px;
	left: 0px;
	opacity: 1;
	background-color: #FFFFFF;
	box-shadow: 0px 0.4px 5px 0px #6f6f6f;
	width: 100%;
	height: 45px;
}

.btn{
	background-image: none !important;   
}