#brandLogo {
	background: url(../images/cheapmeal_logo.png) 0 0;
	padding-right: 100px;
}

.btn {
	position: relative;
	height: 40px;
}

.navbar {
	margin-bottom: 0;
	background-color: white;
}

.navbar-right:hover span {
	color: white;
}

.navbar-right:hover a {
	color: white;
	text-decoration: none;
}

.navbar-brand {
	float: none;
}

.navbar-toggle {
	z-index: 9999;
}

.navbar-center {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	height: 100%;
}

.menu-button {
	font-size: 18px;
	margin-top: 3px;
	background-color: white;
}

.menu-button:hover span {
	color: #1d7abc;
}

.deconnexion-button {
	color: white;
	font-family: 'Gidole-Regular';
	font-size: 15px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	background-color: white;
	color: #1d7abc;
}