.body-container{
	margin-top:20px;
}
.pp {
	height: 375px;
}
.img-recette {
	height : 120px;
	width : 120px;
}
.mg-bottom-20{
	margin-bottom : 20px;
}
#leftPanel{
    text-align: center;
}
.h4 {
	line-height : 2.5;
	margin : 0;
}

.no-pad {
	padding :0;
}
.pad15{
	padding-left : 15px;
	padding-right : 15px;
}

.bg-blue{
	background-color : #418bca ;	
}
.bg-pink{
	background-color : #e05d6f ;	
}
.bg-green{
	background-color : #16a085 ;	
}

.white-text {
	color : #fff;
}