@font-face {
	font-family: 'Gidole-Regular';
	src: url('../fonts/Gidole-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

.recette_body {
	/* background-color: #f1f3f2; */
	background-color: #f1f3f2;
	font-family: 'Gidole-Regular';
}

#brandLogo {
	background: url(../images/cheapmeal_logo.png) 0 0;
	padding-right: 100px;
}

.btn {
	position: relative;
	height: 40px;
	margin-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-right:hover span {
	color: white;
}

.navbar-right:hover a {
	color: white;
	text-decoration: none;
}

.navbar-brand {
	float: none;
}

.navbar-toggle {
	z-index: 9999;
}

@media ( min-width : 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
		{
		margin-left: 0px;
	}
}

.navbar-center {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	height: 100%;
}

.menu-button {
	font-size: 18px;
	margin-top:3px;
}

.menu-button:hover span {
	color: #1d7abc;
}

.deconnexion-button {
	color: white;
	font-family: 'Gidole-Regular';
	font-size: 15px;
}

.contenu-page{
	margin-left: 20%;
	margin-right: 20%;
}

.fiche-recette{
	background-color: white;
	border-radius: 10px;
}

.titre-recette{
	font-size: 50px;
	text-align:center;
	margin-top: 15px;
}

.contenu-recette{
	margin-top: 30px;
}

.contenu-left{
}

.photo-recette{
	height: 375px;
	width: 100%;
	background-color: silver;
}

.nom-auteur-recette{
	text-align:center;
	margin: 0 auto;
	margin-top: 40px;
}

.auteur-recette{
	height: 150px;
	width: 150px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: lime;
}

.noter-recette{
	text-align:center;
	margin-top: 20px;
}

.txt-size-35{
	font-size:35px;
}

.txt-size-25{
	font-size:25px;
}

.cadre{
	position: relative;
	border-radius: 5px;
	border: 1px #BCDCF3 solid;
}

.padding-intracadre{
	padding-left: 10px;
	padding-right: 10px;
}